.home-wrapper .home-overflow {
  overflow: hidden;
  position: relative;
}
.home-wrapper .home-overflow #home-map {
  height: 600px;
}
.home-wrapper .home-overflow .place-info {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #eff1f2;
  padding: 15px;
  transform: translateX(100%);
  border: 1px solid #c0c0c0;
  border-right: 0;
  transition: transform .5s ease;
}
.home-wrapper .home-overflow .place-info.show {
  transform: translateX(0);
}
.beer-filter .dropdown-toggle.bs-placeholder {
  color: #333;
}
.beer-filter .dropdown-toggle.bs-placeholder:hover {
  color: #333;
}
.beer-filter .dropdown-toggle.bs-placeholder:focus {
  color: #333;
}
.place-available-beers h4 {
  margin-top: 20px;
}
.place-available-beers .place-available-beers-list {
  height: 300px;
  overflow-y: auto;
  list-style: none;
  padding-left: 15px;
}
.place-available-beers .place-available-beers-list .place-available-brewery {
  margin-bottom: 15px;
}
.place-available-beers .place-available-beers-list .place-available-brewery h5.page-header {
  margin-top: 10px;
  margin-bottom: 10px;
}
.place-available-beers .place-available-beers-list .place-available-brewery .beer-label {
  font-size: 13px;
  display: inline-block;
}
.place-available-beers .place-available-beers-list .place-available-brewery .beer-label:not(:last-child) {
  margin-right: 10px;
}
