#wrapper #page-wrapper {
  margin-left: 0;
}
#wrapper #page-wrapper .flash-messages {
  left: 30px;
}
.btn-reset {
  display: block;
  width: 100%;
  font-weight: bold;
}
.btn-reset:not(:last-child) {
  margin-bottom: 15px;
}
