.shop-pictures {
  margin: auto;
  width: 50%;
}
.shop-pictures .carousel-inner {
  height: 20vw;
}
.shop-pictures .carousel-inner .item {
  background: no-repeat center;
  background-size: contain;
  height: 100%;
}
.shop-pictures .carousel-control {
  background-image: none;
  color: #ffe767;
}
.shop-pictures .carousel-control:focus,
.shop-pictures .carousel-control:hover {
  color: #f4d42c;
}
.shop-pictures .carousel-indicators li {
  border-color: #f4d42c;
}
.shop-pictures .carousel-indicators li.active {
  background-color: #f4d42c;
}
.shop-description {
  text-align: center;
}
.shop-information {
  margin-right: 50px;
}
.shop-map {
  height: 300px;
  min-width: 400px;
  width: 400px;
}
.schedules .day {
  width: 10%;
}
#page-wrapper {
  padding-bottom: 40px;
}
@media (max-width: 1100px) {
  .schedules .day {
    width: 15%;
  }
}
@media (max-width: 500px) {
  .schedules .day {
    width: 20%;
  }
}
@media (max-width: 500px) {
  .schedules .day {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .shop-map {
    display: block;
    width: 100%;
    min-width: 100%;
  }
}
@media (max-width: 767px) {
  .shop-pictures {
    width: 70%;
  }
  .shop-pictures .carousel-inner {
    height: 30vw;
  }
}
