<span class="label label-success beer-label" data-role="beer-label" data-template="{{ template }}" data-beer-id="{{ id }}" hidden>
    <span data-role="beer-name">{{ name }}</span>
    <i class="fa fa-times" data-role="beer-delete"></i>
</span>