.shop-pictures {
  height: 20vw;
  width: 50%;
  .carousel-inner {
    height: 100%;
    .item {
      background: no-repeat center;
      background-size: contain;
      height: 100%;
    }
  }
  .carousel-single {
    opacity: 0.5;
  }
}

.shop-information {
  margin-right: 50px;
}

.shop-map {
  height: 300px;
}

.schedules {
  .day {
    width: 10%;
  }
}

#page-wrapper {
  padding-bottom: 40px;
}

@media (max-width: 1100px) {
  .schedules {
    .day {
      width: 15%;
    }
  }
}

@media (max-width: 500px) {
  .schedules {
    .day {
      width: 20%;
    }
  }
}

@media (max-width: 500px) {
  .schedules {
    .day {
      width: 100%;
    }
  }
}