<span class="help-block form-error-template" data-id="form-error-template" data-role="form-error">
    <ul class="list-unstyled">
        <li>
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span data-role="form-error-message"></span>
        </li>
    </ul>
</span>