<li class="sidebar-search">
    <button type="button" class="btn btn-default" data-id="map-locate"><i class="fa fa-map-marker"></i> {{ 'Locate me'|trans }}</button>
</li>
<li class="sidebar-search">
    {{ render(controller('AppBundle:Beer:getBeersList')) }}
</li>