<div data-role="schedule">
    {{ form_widget(form.day, {'attr': {'data-role': 'schedule-day', 'disabled': isPrototype}}) }}
    {{ form_widget(form.openingTime, {'attr': {'data-role': 'schedule-opening', 'disabled': isPrototype}}) }}
    {{ form_widget(form.closureTime, {'attr': {'data-role': 'schedule-closure', 'disabled': isPrototype}}) }}
</div>