{% block btns %}
    <div class="pull-right">
        <a href="{{ path('admin_brewery_edit', {'id': id}) }}" class="btn btn-success"><i class="fa fa-pencil"></i> {{ 'Edit'|trans }}</a>
    </div>
{% endblock btns %}